*,
*::before,
*::after {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}
html {
  line-height: 1;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  font-family: Montserrat;
  background-color: #f2f2f2;
  padding-top: 70px;
  max-width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  padding-left: 196px;
  padding-right: 196px;
}
.flex5 img {
  max-width: 25%;
  max-height: 84px;
}
.container45 {
  max-width: 59%;
  width: fit-content;
  height: fit-content;
}
.d-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: fit-content;
}
.languages p {
  max-width: 100%;
  white-space: normal !important;
}
.container23 {
  max-width: 41%;
}
.second-container .flex {
  max-width: 100%;
  justify-content: space-between;
}
.bar-meters meter {
  max-width: 80%;
}
.bar-meters {
  max-width: 100%;
}
.first-container {
  display: flex;

  height: fit-content;

  border-radius: 12px;
  max-width: 1046px !important;
  padding: 21px;
  font-size: 18px;
  color: #828282;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #ffffff;
  margin-bottom: 42px;
}
.first-container p {
  max-width: 100%;
}
.first-container .tom-hardy {
  width: 271px;
  max-width: 271px;
  height: 266px;
  min-height: 266px;
  border-radius: 12px;
  margin-right: 33px;
}
.name {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #4f4f4f;
  margin-bottom: 6px;
}
.personal-info {
  display: flex;
}
.flex {
  display: flex;
}
.email-phone {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.job {
  margin-bottom: 37px;
}
.description {
  max-width: 659px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.second-container {
  height: 303px;
  max-width: 415px;
  border-radius: 12px;
  padding: 23px;
  background-color: #ffffff;
  margin-bottom: 42px;
  max-width: 100%;
}
.second-container #title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #4f4f4f;
  margin-bottom: 17px;
}
meter::-webkit-meter-optimum-value {
  background: #2f80ed;
}
meter::-webkit-meter-bar {
  background-color: #c4c4c4;
  max-width: 237px;
}
.languages {
  display: flex;
  flex-direction: column;
  gap: 17px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #4f4f4f;
  white-space: nowrap;
  max-width: 30%;
}
.flex {
  display: flex;
  gap: 20px;
}
.bar-meters {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.hobbies img {
  width: 370px;
  max-width: 370px;
  height: 139px;
  border-radius: 12px;
  margin-bottom: 25px;
}
.third-container {
  padding: 22px;
  max-width: 415px;
  background-color: #ffffff;
}
.third-container .title {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 26px;
  color: #4f4f4f;
}
.hobbies {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.hobbies .hobby {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  margin-bottom: 10px;
}
.hobbies .desc {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
}
.container2345 {
  display: flex;
  gap: 35px;
  max-width: 100%;
  justify-content: flex-start;
  margin-bottom: 42px;
}
.container4 {
  padding: 47px 0 32px 20px;
  max-width: 596px;
  background-color: #ffffff;
  margin-bottom: 42px;
  block-size: fit-content;
}
.container4 img {
  width: 358px;
  max-width: 358px;
  height: 321px;
  border-radius: 12px;
  margin-bottom: 50px;
}
.title-img {
  display: flex;
  gap: 39px;
}
.title-img p {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  max-width: 178px;
}
.container4 .desc,
.desc2 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  max-width: 492px;
}
.container4 .desc {
  margin-bottom: 20px;
}
.container4 .desc2 {
  margin-bottom: 66px;
}
.container4 a {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #2f80ed;
  text-decoration: none;
}
.container5 {
  height: 482px;
  max-width: 592px;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 17px 0px 33px 31px;
  max-width: 100%;
  height: fit-content;
}
.container5 .title {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 44px;
  color: #4f4f4f;
}
.flex5 {
  display: flex;
  gap: 23px;
}
.frontend-dev {
  margin-bottom: 36px;
}
.flex5 .date {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  margin-bottom: 12px;
}
.flex5 .exp {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  margin-bottom: 33px;
}
.flex5 .desc {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  max-width: 387px;
}
.flex5 .date2 {
  padding-top: 38px;
}
.container6 {
  height: 115px;
  max-width: 1046px;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 22px;
  margin-bottom: 36px;
}
.container6 p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #4f4f4f;
  margin-bottom: 16px;
}
.buttons {
  display: flex;
  gap: 16px;
  max-width: 294px;
}
.buttons button {
  height: 33px;
  width: 27%;
  border-radius: 12px;
  border: 1px solid #4f4f4f;
  background-color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}
.buttons .responsive {
  width: 45%;
  background-color: #2f80ed;
  color: #ffffff;
  border: 1px solid #2f80ed;
}
.third-container img {
  max-width: 100%;
}
.container7 {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.container7 img {
  max-width: 292px;
  border-radius: 12px;
  margin-bottom: 24px;
  width: fit-content;
}
.container7 .mini-container {
  background-color: #ffffff;
  padding: 18px 18px 33px 18px;
  max-width: 328px;
}
.container7 .hachtag {
  display: flex;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #4f4f4f;
  gap: 9px;
  margin-bottom: 22px;
}
.container7 .title {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  margin-bottom: 18px;
}
.container7 .desc {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  margin-bottom: 41px;
}
.container7 .two-buttons {
  display: flex;
  gap: 11px;
}
.container7 .two-buttons button {
  width: 135px;
  height: 46px;
  border-radius: 12px;
  border: 1px solid #2f80ed;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  color: #2f80ed;
  background-color: #ffffff;
}
.container7 .two-buttons .blue-button {
  background-color: #2f80ed;
  color: #ffffff;
}
.page-numbers {
  display: flex;
  max-width: 100%;
  margin-left: auto;
  gap: 12px;
}
.page-numbers button {
  width: 36px;
  height: 36px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
}
.page-numbers i {
  vertical-align: middle;
  align-self: center;
}
